.table {
	margin-top: 1rem;
	border: 1px solid #ccc;
	display: flex;
	border-radius: 5px;
	justify-content: space-evenly;
}
.table__col {
	padding: 0.7rem 5%;
	flex: 1;
}
.table__cell {
}
.table__header {
	/* font-size: 20px; */
	font-weight: bold;
	padding-bottom: 5px;
}
.table__cell {
	padding: 5px 0;
	border-top: 1px solid #ccc;
}
